@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
@*default webpage that we are redirected to when opening the website*@
<div class="text-center">
	<h1 id="AddPopUp">se menu</h1>
</div>

@*duplicate modalbox, in an attempt to make sure that the modalbox comes up*@
<div class="AddPopUp" data-toggle="modal" Data-target="#LunchOffer">
	@Html.Label("Frokost")
</div>
<div class="modal fade" id="LunchOffer" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<center>
					<h1>
						Frokosttilbud mellem 11 og 15. <br />
						20% på alle pizzaer
					</h1>
				</center>
			</div>
		</div>
	</div>
</div>
@*^^ debugging duplicate ^^ *@

@*javascript logic to make modal box popup. this should be in _layout*@
<Scripts>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#AddPopUp").click(function (e) {
				$('#LunchOffer').modal('toggle');
			});
		});
	</script>