@* the website's privacy policy. as its not an actual web site thats going up, there's no need to fill anything in here. could potentially remove' *@

@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
