@page
@model Pages.Orders.CreateModel
@*default create crud*@
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CustomerOrders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerOrders.OrderID" class="control-label"></label>
                <input asp-for="CustomerOrders.OrderID" class="form-control" />
                <span asp-validation-for="CustomerOrders.OrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerOrders.CustomerID" class="control-label"></label>
                <input asp-for="CustomerOrders.CustomerID" class="form-control" />
                <span asp-validation-for="CustomerOrders.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerOrders.pizzaID" class="control-label"></label>
                <input asp-for="CustomerOrders.pizzaID" class="form-control" />
                <span asp-validation-for="CustomerOrders.pizzaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
