@page
@model Pizza_Projektet___cafe_luccas.Pages.Forms.IndexModel
@{
// this is the default webpage form, used to show the modalbox with lunch discounts
    <div id="AddPopUp">
           <label>Frokost Menu</label>
    </div>
    <div class="modal fade" id="LunchOffer" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <center>
                            <h1>
                                Frokosttilbud mellem 11 og 15. <br />
                                20% på alle pizzaer
                            </h1>
                        </center>
                    </div>
                </div>
            </div>
    </div>

    @*javascript logic to make modal box popup*@
    @section Scripts{
    <script type="text/javascript">
            $(document).ready(function () {
                $("#AddPopUp").click(function (e) {
                        $('#LunchOffer').modal('toggle');
                });
            });

            })
    </script>
    }





}
